@model PaginatedList<BlogMVC.Models.BlogCategoryViewModel>

@{
    ViewData["Title"] = "Index";
}
<style>
    .img-post{
        height:80px;
    }
</style>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Blogs" asp-action="Index" method="get">
    <p>
         Category: <select asp-for="blogCate" asp-items="Model.BlogCateVM.categories">
            <option value="">All</option>
        </select>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter"/>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Date Created
            </th>
            <th>
                Content
            </th>
            <th>
                Image
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.BlogCateVM.blogs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.content)
                </td>
                <td>
                    <img class="img-post" src="@("~/image/"+item.Image)" asp-append-version="true" >
                </td>
               
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BlogID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BlogID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BlogID">Delete</a>
                </td>
            </tr>
            }
       
    </tbody>
</table>
<br/>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" class="btn btn-default @prevDisabled">Previous</a>
<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" class="btn btn-default @nextDisabled">Next</a>